body{
    background-image: url(https://mdbootstrap.com/img/Photos/Others/sidenav2.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    
  }

  

#main{
    text-align: center;
   
}
#heading{
    text-align: center;
    color:rgb(207, 242, 223);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 300%;
    text-shadow: rgb(1, 1, 1);
    font-weight: bold;
    
}

#lgnd{
    color:rgba(6, 0, 0, 0.936);
    text-shadow: 2px 2px 3px rgb(155, 153, 151);
    font-size: 110%;
}


#fieldset{
    height: 50%;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow:aliceblue;
    background-color:rgba(250, 235, 215, 0.299);
}

#fieldsetFormat{
    height: 39%;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    box-shadow:aliceblue;
    background-color:rgba(250, 235, 215, 0.34);
}

#fieldsetLogin{
    height: 28%;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow:aliceblue;
    background-color:rgba(250, 235, 215, 0.34);
}

#form{
    border-radius: 0px;
    box-shadow: darkslategrey;
    height: 22px;
    width: 180px;
    border-color: black;
    
}


#inputf{
    height: 40px;
    width: 280px;
border-radius: 20px;
text-align: center;
border-color: black;

}

#btn{
    height: 37px;
    width: 145px;
    border-radius: 20px;
    background-color:dodgerblue;
    font-size: 110%;
    
}

#loginLink{
    font-size: 22px;
    color: rgb(15, 6, 1);

}

#btn2{
    /* background-color:transparent;
    border-color: transparent; */
    color: rgba(105, 6, 6, 0.918);
    font-size: 20px;

}



#detail{
    font-size: 25px;
    color: rgba(6, 0, 0, 0.774);
    
}


